.home-container::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, #fff 19.56%, #ffe9d4 100%);
  z-index: -1;
}

.home-container {
  background: linear-gradient(180deg, #fff 19.56%, #ffe9d4 100%);
  min-height: 100vh; /* or 100% if inside a scrollable wrapper */
  position: relative; /* required if child elements are absolutely positioned */
  z-index: 0;
}
.banner {
  background: #54b6c3;
  position: relative;
  overflow: hidden;
  padding: 0;
  color: white;
  min-height: 90vh;
  display: flex;
  align-items: flex-end;
}

.banner .sun {
  position: absolute;
  top: 40px;
  right: 40px;
  width: 170px;
  z-index: 2;
}

.banner .clouds {
  position: absolute;
  bottom: -17%;
  left: -79px;
  width: 120%;
  z-index: 3;
  overflow: hidden;
}

.banner-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  /* max-width: 1200px; */
  margin: 0 4rem;
  padding: 0rem 2rem;
  z-index: 2;
  position: relative;
  padding-bottom: 17rem;
  text-align: center;
  gap: 20px;
}

.banner-content .left-banner {
  flex: 2;
  max-width: 800px;
  position: relative;
  left: 90px;
}

.banner-content .left-banner .heading {
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Golos Text";
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 64px */
  margin-bottom: 1.5rem;
}

.banner-content .left-banner p {
  color: #fff;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Nunito Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 120% */
  margin-bottom: 1.5rem;
}

.banner-content .cta-buttons {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 64px;
}

.banner-content .cta-buttons .explore {
  background: transparent;
  border: 2px solid #ffc107;
  color: #ffc107;
  padding: 0.6rem 1.4rem;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
  width: 170px;
  height: 50px;
  font-size: 20px;
}

.banner-content .cta-buttons .contact {
  background: #fff;
  color:#FF7F00;
  padding: 0.6rem 1.4rem;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  width: 170px;
  height: 50px;
  font-size: 20px;
}

.banner-content .right-banner {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  z-index: 2;
}

.banner-content .right-banner img {
  width: 100%;
  max-width: 625.406px;
  height: 612px;
  object-fit: contain;
  margin-bottom: -269px;
  z-index: -1;
  margin-right: 41px;
}
.banner .rocket {
  position: absolute;
  bottom: 200px;
  left: 40px;
  width: 130px;
  z-index: 2; /* Behind clouds but in front of background */
  opacity: 0.8;
}
.about-arka {
  position: relative;
  /* background: #fff; */
  padding: 5rem 1rem;
  text-align: center;
  overflow: hidden;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.about-text {
  max-width: 900px;
  margin: auto;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: column;
}

.about-text h1 {
  color: #0061af;
  font-family: "Golos Text";
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 40px */
}


.about-text p {
  margin: 1rem 0 2rem;
  color: #000;
  text-align: center;
  font-family: "Nunito Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  width: 100%;
}

.learn-more {
  text-decoration: none;
  color: #0061af;
  text-align: center;
  font-family: "Nunito Sans";
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 116.667% */
  border-bottom: 2px solid red;
  padding-bottom: 2px;
}

/* Arc container */
.image-arc {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 1;
}

/* Base image style */
.arc-img {
  position: absolute;
  width: 110px;
  height: 110px;
  object-fit: cover;
  border-radius: 15px;
  transition: transform 0.4s ease;
  /* box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15); */
}

/* Left side curve */
.left-curve.top {
  top: 12%;
  left: 4%;
  transform: rotate(-17deg) translateY(-10px);
}
.left-curve.mid {
  top: 35%;
  left: 7%;
  transform: rotate(-5deg) translateY(0);
}
.left-curve.bottom {
  top: 61%;
  left: 4%;
  transform: rotate(8deg) translateY(10px);
}

/* Right side curve */
.right-curve.top {
  top: 15%;
  right: 4%;
  transform: rotate(20deg) translateY(-12px);
}
.right-curve.mid {
  top: 37%;
  right: 9%;
  transform: rotate(8deg) translateY(0);
}
.right-curve.bottom {
  top: 58%;
  right: 4%;
  transform: rotate(-3deg) translateY(12px)
}

/* Hover effect */
.arc-img:hover {
  transform: scale(1.05) rotate(0deg);
}
.learning-section {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  gap: 2rem;
  align-items: flex-start;
  justify-content: center;
}

.learning-text {
  flex: 1 1 300px;
  max-width: 400px;
}

.learning-text h2 {
  color: #e31c25;
  font-size: 24px;
  margin-bottom: 1rem;
}

.learning-text h2 span {
  display: block;
  color: #000;
}

.learning-text p {
  color: #333;
  line-height: 1.5;
  font-size: 16px;
}

.learning-cards {
  display: flex;
  gap: 1rem;
  flex: 2 1 600px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  position: relative;
  width: 180px;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
  background-color: #f2f2f2;
  transition: all 0.4s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.6;
  transition: all 0.3s ease;
}

.card-content {
  position: absolute;
  bottom: 0;
  padding: 1rem;
  color: white;
  background: linear-gradient(to top, var(--color), transparent);
  width: 100%;
  transform: translateY(100%);
  transition: transform 0.4s ease;
}

.card h3 {
  font-size: 20px;
  font-weight: bold;
}

.card p {
  font-size: 14px;
  margin: 0.5rem 0;
}

.card a {
  display: inline-block;
  margin-top: 0.5rem;
  color: #fff;
  background: #000;
  padding: 6px 12px;
  border-radius: 5px;
  font-size: 13px;
  text-decoration: none;
}

/* Active card expands */
.card.active,
.card:hover {
  width: 240px;
  height: 340px;
  z-index: 1;
}

.card.active img,
.card:hover img {
  opacity: 0.4;
}

.card.active .card-content,
.card:hover .card-content {
  transform: translateY(0);
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  padding: 2rem;
}

.flip-card {
  background: transparent;
  width: 350px;
  height: 400px;
  perspective: 1000px;
}

.flip-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-inner {
  transform: rotateY(180deg);
}

/* Front face */
.flip-front,
.flip-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  backface-visibility: hidden;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

/* Blue front card */
.flip-front {
  background-color: #0d91d1;
  color: white;
  text-align: center;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon-box img {
  width: 100px;
  height: 120px;
  margin-bottom: 1rem;
}

.flip-front h3 {
  color: #fff;
  font-family: "Nunito Sans";
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 0.5rem;
}

.flip-front p {
  color: #fff;
  text-align: center;
  font-family: "Nunito Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px; /* 122.222% */
}

/* Back face with image */
.flip-back {
  background-size: cover;
  background-position: center;
  transform: rotateY(180deg);
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.back-label {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);

  text-align: center;
  padding: 1rem;
  color: #fff;
  font-family: "Nunito Sans";
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}
.faq-wrapper {
  padding: 3rem 1rem;
  max-width: 900px;
  margin: auto;
  text-align: center;
  color: #1b1b1b;
  font-family: "Nunito Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.school-name {
  color: #da251c;
  font-family: "Golos Text";
  font-size: 46px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 46px */
  margin: 0.5rem 0 1rem;
}

.description {
  max-width: 550px;
  margin: auto;
  color: #000;
  text-align: center;
  font-family: "Nunito Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 162.5% */

}

.accordion {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.accordion-item {
  border-radius: 8px;
  border: 1px solid #db9a45;
  background: #ffe4c8;
  padding: 1rem;
  text-align: left;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
  font-family: Kanit;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

.accordion-body {
  padding-top: 0.75rem;
  color: #000;
  font-family: "Nunito Sans";
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.arrow {
  background: #ffffff;
  border: none;
  border-radius: 50%;
  font-size: 24px;
  width: 40px;
  height: 40px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  font-weight: 400;
}

.arrow.rotate {
  transform: rotate(90deg);
}

.accordion-body-wrapper {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transform: translateY(-10px);
  transition: max-height 0.4s ease, opacity 0.4s ease, transform 0.4s ease;
}

.accordion-body-wrapper.open {
  /* max-height: 200px; */
  opacity: 1;
  transform: translateY(0);
}

.mv-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2rem 9rem;
  /* gap: 2rem; */
  height: 80vh;
}

.mv-section {
  flex: 1 1 400px;
  max-width: 500px;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 70vh;
  /* padding-right: 3rem; */
}

.mv-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  position: relative;
  top: -120px;
  left: 100px;
}

.puzzle-container {
  position: relative;
  width: 180px; /* adjust as needed */
  height: 180px;
  margin: auto;
}

.puzzle {
  position: relative;
  width: 380px;
  height: auto;
}

.puzzle-blue {
  top: 80px;
  right: -29px;
  z-index: 2;
}

.puzzle-red {
  bottom: 137px;
  left: -153px;
  z-index: 1;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.mv-our {
  color: #0061af;
  font-family: "Golos Text";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 40px */
  margin-right: 0.5rem;
  position: relative;
  top: -29px;

}

.mv-title {
  color: #0061af;
  font-family: "Golos Text";
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 80px */
}

.blue {
  color: #0077c8;
}

.red {
  color: #d62828;
}

ul {
  margin-bottom: 0.5rem;
  padding-left: 1.2rem;
  color: #000;
  font-family: "Nunito Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
}

.read-more {
  color: #000;
  font-family: "Nunito Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5rem;
  text-align: right;
  text-decoration: none;
}

.vision-content {
  color: #000;
  text-align: center;
  font-family: "Nunito Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
}
.edu-accordion-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 4rem 6rem;
  align-items: flex-start;
  background: none;
}

.edu-intro {
  flex: 1 1 15%;
}

.edu-intro h2 {
  color: #da251c;
  font-family: "Golos Text";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.edu-intro .highlight {
  color: #d62828;
}

.edu-intro p {
  color: #000;
  font-family: "Nunito Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 130% */
  color: #444;
  margin-top: 1rem;
}

.edu-accordion {
  flex: 1 1 30%;
  display: flex;
  gap: 1rem;
}

.edu-card {
  flex: 1;
  transition: flex 0.7s ease;
}
.edu-card.active {
  border-radius: 12px 12px 60px 12px;
  background: linear-gradient(180deg, #fff 0%, #00457c 117.5%);
}

.edu-card:not(.active) {
  flex: 0.6;
}

.edu-card {
  width: 120px;
  height: 350px;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.7s ease;
  background-size: cover;
  background-position: center;
}

.card-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 20px;
  z-index: 1;
  background-size: cover;
  background-position: center;
}

.card-top-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 10px;
  width: 100%;
  background-color: var(--card-color, #ffe200);
  z-index: 2;
}

.card-title {
  position: absolute;
  bottom: 30px;
  left: 20px;
  z-index: 3;
  color: white;
  font-family: "Golos Text", sans-serif;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 0.3px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-expand {
  position: absolute;
  bottom: 0;
  z-index: 4;
  padding: 1rem;
  background: white;
  color: #222;
  width: 100%;
  text-align: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  animation: fadeIn 1s ease-in-out;
}

.card-expand p {
  font-size: 0.85rem;
  margin-bottom: 0.75rem;
}

.know-more {
  background: #d62828;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  color: #FFF;
  font-family: "Golos Text";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.12px;
  width: 107px;
  height: 34px;
}
.edu-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}

.edu-card {
  width: 200px;
  min-height: 450px;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  background: #fff;
  transition: all 1s ease;
}

/* ================= CLOSED STATE ================= */

.card-background {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.color-bar {
  height: 10px;
  background-color: var(--card-color, #ffe200);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card-bottom {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  z-index: 2;
  color: #fff;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.card-bottom h3 {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}



/* ================= OPENED STATE ================= */

.opened-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  /* border-top-left-radius: 20px;
  border-top-right-radius: 20px; */
}

.opened-content {
  padding: 1rem;
  text-align: center;
  width: 285px;
}

.opened-content h3 {
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Golos Text";
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.2px;
  margin-bottom: 0.5rem;
}

.opened-content p {
  margin-bottom: 0.75rem;
  color: #fff;
  text-align: center;
  font-family: "Nunito Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

@keyframes fadeIn {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.edu-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1rem;
  color: white;
  border-radius: 20px;
  transition: all  0.7s ease;
  z-index: 3;
}

.edu-card h3 {
  font-size: 1.2rem;
  font-weight: bold;
}

.edu-card p {
  margin-top: 0.5rem;
  font-size: 0.9rem;
}



.mobile-accordion {
  display: none;
}

.curriculum-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 4rem;
}
.mv-section ul{
  text-align: left;
}

@media (max-width: 1300px) {
  
  .left-curve.top,
  .left-curve.mid,
  .left-curve.bottom,
  .right-curve.top,
  .right-curve.mid,
  .right-curve.bottom {
    display: none; /* Optional: Hide arc on small screens */
  }
  .banner {
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    margin: 0;
  }

  .banner-content {
    flex-direction: column;
    align-items: center;
    padding: 3rem 1.5rem;
    margin: 0;
  }

  .banner-content .left-banner {
    left: 0;
    padding: 2rem;
  }
  .banner-content .left h1 {
    font-size: 30px;
  }

  .banner-content .right {
    justify-content: center;
    align-items: flex-start;
  }

  .banner .sun {
    top: 60%;
    right: 10px;
    width: 70px;
  }

  .banner .clouds {
    width: 135%;
    left: -338px;
    bottom: -11%;
  }
  .banner-content .right-banner img {
    width: 100%;
    max-width: 484px;
    height: 520px;
    object-fit: contain;
    margin-bottom: -176px;
    z-index: -1;
    margin-right: 0px;
  }
  .edu-card {
    width: 180px;
  }
  .mv-wrapper {
    /* flex-direction: column; */
    align-items: center;
    height: auto;
    padding: 2rem 3rem;
    text-align: center;
    flex-wrap: nowrap;
  }

  .mv-section.left,
  .mv-section.right {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  .right {
    align-items: center;
    height: auto;
  }

  .mv-icons {
    flex-direction: row-reverse;
    gap: 1rem;
    margin: 1rem 0;
    top: 0;
    left: 0;
  }
  .puzzle-red {
    bottom: 48px;
    left: 34px;
  }
  .puzzle-blue {
    top: 23px;
    right: 47px;
  }
}
@media (max-width: 1024px) {
  .mv-wrapper {
    padding: 2rem 2rem;
    height: auto;
    gap: 2rem;
  }

  .mv-section {
    max-width: 100%;
  }

  .mv-title {
    font-size: 48px;
  }

  .mv-our {
    font-size: 24px;
  }

  ul,
  .vision-content,
  .read-more {
    font-size: 18px;
    line-height: 22px;
  }

  .puzzle {
    width: 200px;
  }
}

@media (max-width: 800px) {
  .banner {
    margin-top: 100px;
  }
  .banner .rocket {
    top: 5px;
  }
  .mobile-accordion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .accordion-card-mobile {
    background: linear-gradient(180deg, #fff 0%, #00457c 117.5%);
    overflow: hidden;
    color: white;
    transition: all 1s ease;
    width: 100%;
    height: 80px;
    border-radius: 20px;
  }

  .accordion-header-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-weight: 700;
    font-family: "Golos Text", sans-serif;
    font-size: 1rem;
  }

  .color-strip {
    height: 5px;
    width: 100%;
    background: #ffe200;
  }

  .accordion-body-mobile {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    /* border-radius: 12px 12px 60px 12px; */
    background: linear-gradient(180deg, #fff 0%, #00457c 117.5%);
    align-items: center;
  }

  .accordion-card-mobile.open{
    border-radius: 12px 12px 60px 12px;
    height: 400px;
  }

  .body-image {
    width: 35%;
    border-radius: 8px;
    object-fit: cover;
  }

  .body-content {
    width: 60%;
  }

  .body-content p {
    font-size: 0.9rem;
    line-height: 1.4;
    margin: 0 0 0.5rem 0;
  }

  .section-label {
    font-size: 0.8rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  .icon i.arrow {
    border: solid white;
    border-width: 0 2px 2px 0;
    padding: 5px;
    display: inline-block;
    transform: rotate(45deg);
    transition: 0.3s ease;
  }

  .icon i.up {
    transform: rotate(-135deg);
  }

  .icon i.down {
    transform: rotate(45deg);
  }
  .edu-card {
    display: none;
  }
}
/* Responsive */
@media (max-width: 768px) {
  .banner .clouds{
    width: 135%;
    left: -242px;
    bottom: -11%;
  }

  .about-section {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .about-arka{
    height: 60vh;
  }

  .about-images {
    flex-direction: row;
    justify-content: center;
  }

  .about-images img {
    width: 60px;
    height: 60px;
  }

  .about-content h2 {
    font-size: 1.4rem;
  }

  .about-content p {
    font-size: 0.95rem;
  }
  .arc-img {
    width: 60px;
    height: 60px;
  }

  .about-text h1 {
    font-size: 1.8rem;
  }

  .about-text span {
    font-size: 1.5rem;
  }

  .about-text p {
    font-size: 16px;
  }

  .left-curve.top,
  .left-curve.mid,
  .left-curve.bottom,
  .right-curve.top,
  .right-curve.mid,
  .right-curve.bottom {
    display: none; /* Optional: Hide arc on small screens */
  }
  .card-container {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
  }
  .curriculum-container{
    padding: 1rem;
  }

  .flip-card {
    width: 90%;
    font-size: 40px;
  }
  .flip-front h3 {
    font-size: 28px;
  }
  .school-name {
    font-size: 1.5rem;
  }

  .accordion-header {
    font-size: 0.95rem;
  }

  .arrow {
    width: 45px;
    height: 35px;
    font-size: 0.9rem;
  }
  .mv-wrapper {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 2rem 3rem;
    text-align: center;
  }

  .mv-section.left{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
  .mv-section.right {
    align-items: center;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
  }
  .right {
    align-items: center;
    height: auto;
  }

  .mv-icons {
    flex-direction: row-reverse;
    gap: 1rem;
    margin: 1rem 0;
    top: 0;
    left: 0;
  }

  .puzzle {
    width: 150px;
  }

  .mv-title {
    font-size: 40px;
  }

  .mv-our {
    font-size: 20px;
    top: 0px;
  }

  ul {
    padding-left: 0;
  }

  .read-more {
    justify-content: center;
  }
  .puzzle-red {
    bottom: 48px;
    left: 34px;
  }
  .puzzle-blue {
    top: 23px;
    right: 47px;
  }
  .edu-accordion-wrapper {
    flex-direction: column;
    padding: 2rem;
    justify-content: center;
    align-items: center;
  }
  .edu-accordion {
    display: flex;
    gap: 1rem;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding-bottom: 1rem;
  }

  .edu-card {
    scroll-snap-align: start;
    flex-shrink: 0;
    min-width: 280px;
    max-width: 90vw;
    height: auto;
  }
  .banner-content .left-banner h1{
    font-size: 48px;
  }
  
}

@media (max-width: 500px) {
  .banner .clouds {
    bottom: -4%;
    left: -100px;
  }
  .edu-cards {
    flex-direction: column;
    align-items: center;
  }

  .edu-card {
    width: 90%;
    max-width: 320px;
  }

  .opened-image {
    height: 120px;
  }

  .opened-content h3 {
    font-size: 1rem;
  }

  .opened-content p {
    font-size: 0.8rem;
  }

  .know-more {
    font-size: 12px;
    padding: 6px 12px;
  }
  .accordion-card-mobile.open{
    border-radius: 12px 12px 60px 12px;
    height: 350px;
  }
}
@media (max-width: 380px) {
  .banner .clouds {
    bottom: -4%;
  }
}

@media (max-width: 350px){
  .banner .clouds{
    bottom: -3%;
  }
}
